img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    
  }

body {
    background-color: black;
}

h1 {
    text-align: center;
    color: rgb(245, 52, 52);
    padding-top: 50px;
    padding-right: 80px;
    padding-left: 80px;
  }
  
ul,
h2 {
    text-align: center;  
    padding-right: 80px;
    padding-left: 80px
  }

#aerials{
    color: teal;
}

  #mermaid {
    color: rgb(60, 221, 159);
}

#pretzel {
    color: rgb(173, 120, 41);
    
}

#pole {
    color: silver;
}

p {
    color: white;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
 }

footer {
    color: white;
}

ul {
    text-align: center;
}
.aerialtext {
    color: teal;
}
.mermaidtext {
    color: rgb(60, 221, 159);
}
.pretzeltext {
    color: rgb(173, 120, 41)
}
.poletext {
    color: silver;
}
figcaption {
    color:  rgb(60, 221, 159);
    font-style: italic;
    padding: 2px;
    text-align: center;